Develop a pipeline that cleans up the dataset listed below and "deliver it" to a target schema. For purposes of the exercise, the target schema can simply be separate csv files.

Dataset: https://data.cityofchicago.org...

Minimum Requirements:

Use a language of your choice to develop a script that reads the dataset and pushes an output to separate csv files

Create 2 output tablesâ€¦

Table A includes a list of all inspections

Table B includes a list of all violations and comments associated with each inspection

In [1]:
import time
import requests
import pandas as pd
import numpy as np
from sodapy import Socrata

In [2]:
client = Socrata('data.cityofchicago.org', None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [3]:
res = client.get('4ijn-s7e5', where='inspection_id>=0', limit=1000000)

In [4]:
df = pd.DataFrame.from_records(res)

In [5]:
df.fillna('No Entry', inplace=True)

In [6]:
vio_df = df.violations.apply(lambda x: pd.Series(str(x).split('|')))

In [7]:
def inspections(dataframe):
    table_a = df[['dba_name', 'inspection_id', 'inspection_date', 'inspection_type']]
    #return table_a
    table_a.to_csv('table_a.csv', index=False)

In [8]:
def violations(dataframe):
    vio_df = df.violations.apply(lambda x: pd.Series(str(x).split('|')))
    vio_df.fillna('No Entry', inplace=True)
    inspection = df[['dba_name', 'inspection_id',]]
    table_b = pd.concat([inspection, vio_df], axis=1)
    #return table_b
    table_b.to_csv('table_b.csv', index=False)

In [9]:
inspections(df)

In [10]:
violations(df)

In [12]:
insp = pd.read_csv('table_a.csv')
insp.head()

,dba_name,inspection_id,inspection_date,inspection_type
0,PRAIRIELAND MONTESSORI,2312712,2019-09-23T00:00:00.000,Canvass
1,HAPPY KIDS PRESCHOOL & DAYCARE CENTER,2312722,2019-09-23T00:00:00.000,License
2,LAST BAY BEER COMPANY LLC,2312707,2019-09-23T00:00:00.000,Canvass
3,"SANJUSTINS KITCHEN,INC",2312670,2019-09-20T00:00:00.000,Canvass
4,LAWNDALE QUIK MARKET,2312661,2019-09-20T00:00:00.000,Canvass

In [14]:
vio = pd.read_csv('table_b.csv')
vio.head()

,dba_name,inspection_id,0,1,2,3,4,5,6,7,...,24,25,26,27,28,29,30,31,32,33
0,PRAIRIELAND MONTESSORI,2312712,51. PLUMBING INSTALLED; PROPER BACKFLOW DEVICE...,"55. PHYSICAL FACILITIES INSTALLED, MAINTAINED...",No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry
1,HAPPY KIDS PRESCHOOL & DAYCARE CENTER,2312722,54. GARBAGE & REFUSE PROPERLY DISPOSED; FACILI...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry
2,LAST BAY BEER COMPANY LLC,2312707,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry
3,"SANJUSTINS KITCHEN,INC",2312670,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry
4,LAWNDALE QUIK MARKET,2312661,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,...,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry,No Entry